{% extends 'main/layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'main/about.css' %}">
{% endblock %}

{% block title %}
Название страници about
{% endblock %}

{% block content %}
<h1>Заголовок about</h1>
<div class="section">
            <h1><span>My Skills</span></h1>
            <ul>
                <li>Python <br />
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{data.0}}%;"></div>
                    </div>
                </li>
                <li>SQL <br />
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{data.1}}%;"></div>
                    </div>
                </li>
                <li>HTML <br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{data.2}}%;"></div>
                    </div>
                </li>
                <li>CSS <br />
                     <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{data.3}}%;"></div>
                    </div>
                </li>
            </ul>
        </div>



{% endblock %}