{% extends 'main/layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'main/about.css' %}">
{% endblock %}

{% block title %}
Немного обо мне
{% endblock %}

{% block name %}<h1>Немного обо мне</h1>{% endblock %}

{% block content %}

<div class="section">
            <h2><span>My Skills из приложения </span>
                <a href="https://www.sololearn.com/Profile/5737049">Sololearn
                    <img class="logo_img"
                         src="https://lh3.googleusercontent.com/6E112cbsqydvxECh-HmlXvOG5SGXCco4jv_aXZMeMKErNEsDA06Niq7p8CULJ40_6r7G">
                </a></h2>
            <ul>
                <li>Python <br />
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{data.1}}%;"></div>
                    </div>
                </li>
                <li>SQL <br />
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{data.0}}%;"></div>
                    </div>
                </li>
                <li>HTML <br />
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: {{data.2}}%;"></div>
                    </div>
                </li>
                <li>CSS <br />
                     <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             style="width: {{data.3}}%;"></div>
                    </div>
                </li>
            </ul>
        </div>

<p class="text">Я учился самостоятельно, так как считаю если тебе нужно заплатить, чтобы выучить то что
                лежит в свободном доступе, то какой от тебя тогда толк.</p>




<h2>Мое маленькое новое хобби</h2>
<iframe width="560"
        height="315"
        src="https://www.youtube.com/embed/cWmBN9UshPY?start=343"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>


<h2><a href="https://radio.yandex.ru/user/mamaevk50">
    <span>Яндекс радио</span> 
    <img class="logo_img"
         src="https://play-lh.googleusercontent.com/v7NKWOQ99Dksul8cFX81n8Zzi-6_TcFntqaIeub3r6pnNTy2p55CZfzfhpaE8f0syrA"></a>
</h2>

<h2><a href="https://github.com/Vemnym">
    <span>GitHub</span> 
    <img class="logo_img"
         src="https://res.cloudinary.com/practicaldev/image/fetch/s--i_sb3chq--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://thepracticaldev.s3.amazonaws.com/i/fk0849hvg2rt13bpqhjy.jpg"></a>
</h2>

<h2><a href="https://krasnoyarsk.hh.ru/applicant/resumes/view?resume=6c3072a3ff0899c47f0039ed1f646a51656159&print=true">
    <span>Ссылка на мое резюме</span> 
    <img class="logo_img"
         src="https://upload.wikimedia.org/wikipedia/commons/7/79/HeadHunter_logo.png"></a>
</h2>

{% endblock %}