{% extends 'main/layout.html' %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
<h1>Как со мной связаться</h1>
<p>email: email@mail.com</p>
<p>телефон: +7 999 999 99 99</p>

<p>Если не смогли со мной связаться оставьте свои контакты:</p>
<p>{{error}}</p>
<form method="POST" action="/contacts">
    {% csrf_token %}
    <input type="text", name="name", placeholder="Ваше имя">
    <br><br>
    <input type="text", name="phone", placeholder="Номер телефона">
    <br><br>
    <input type="email", name="email", placeholder="email адрес">
    <br><br>
    <textarea name="text", placeholder="О себе"></textarea>
    <br><br>
    <input type="submit", value="Отправить">
</form>
{% endblock %}