{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/layout.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

    <script>
    var smoothJumpUp = function() {
        if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
            window.scrollBy(0,-50);
            setTimeout(smoothJumpUp, 10);
        }
    }

    window.onscroll = function() {
      var scrolled = window.pageYOffset || document.documentElement.scrollTop;
      if (scrolled > 100) {
      	document.getElementById('top_button').style.opacity = '1';
      } else {
      	document.getElementById('top_button').style.opacity = '0';
      }
    }
</script>
</head>
<body>
    <aside>
        <h1>Навигация</h1>
        <ul>
            <a href="/"><li><i class="fas fa-home"></i><span> Главная</span></li></a>
            <a href="/about"><li><i class="fas fa-address-card"></i><span> Обо мне</span></li></a>
            <a href="/contacts"><li><i class="far fa-address-book"></i><span> Контакты</span></li></a>
            <a href="/list_projects"><li><i class="fas fa-tasks"></i><span> Проекты</span></li></a>
        </ul>
    </aside>
        <a name="top"></a>
        {% block name %}{% endblock %}
    <main>

        {% block content %}
        {% endblock %}
        <a onclick="(document.documentElement.scrollTop ? document.documentElement : document.body).scrollTop = 0;" class="btn btn-outline-primary" id="top_button">Наверх</a>
    </main>


</body>
</html>