{% extends 'main/layout.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'main/list_projects.css' %}">
{% endblock %}

{% block title %}
Проекты
{% endblock %}

{% block content %}
<h1>Проекты</h1>
<div>
{% for link in links %}
<a href="/project/{{link.id}}" class="project">
<div class="card border-primary mb-3">
  <div class="card-header">{{link.name}}</div>
  <div class="card-body">
    <img src="{{link.image.url}}" alt="My image">
    <p class="card-text">{{link.text | safe}}</p>
  </div>
</div>
</a>
{% endfor %}
</div>
{% endblock %}