{% extends 'main/layout.html' %}

{% block title %}
Проект - {{name}}
{% endblock %}

{% block content %}
<h1>Проект - {{name}}</h1>
<h2>Дата публикации - {{date}}</h2>
<p>{{text | safe}}</p>

<p>Пожалуйста оставьте свой комментарий</p>
<p>{{error}}</p>
<form method="POST", action="{{id}}">
    {% csrf_token %}
    <input type="text", name="author", placeholder="Ваше имя">
    <br><br>
    <textarea name="comment", placeholder="Ваше сообщение"></textarea>
    <br><br>
    <input type="submit", value="Опубликовать">
</form>

{% if comments %}
<p>Коментарии</p>
{% endif %}
{% for comment in comments %}
<p>{{comment.author}}</p>
<p>{{comment.date}}</p>
<p>{{comment.comment | safe}}</p>
{% endfor %}
{% endblock %}