div.section{
    width:55%;
    margin-left: auto;
    margin-right: auto;
}

div.section ul{
    list-style: none;
}

.logo_img{
    height: 40px;
}

h2 a, a h2{
    color: black;
}

.text{
    font-size: 25px;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    background:radial-gradient(ellipse closest-side,rgba(50,80,115, 0.0),
                                         rgba(50,80,115, 0.1),
                                         rgba(50,80,115, 0.1),
                                         rgba(50,80,115, 0.1),
                                         rgba(50,80,115, 0));
}
@media only screen and (max-width: 1024px) {
iframe, .text{
    width:100%;
}

}