body{
    background: #B3ADB3;
}
aside{
    float: left;
    background: #736F73;
    width: 45px;
    height: 100vh;
    padding: 2,5%;
    color: #FFF7FF;
    border-right: 5px solid #F2EBF2;
    transition: all .5s;
    position: fixed;


}

aside:hover{
    width:250px;;
}

aside ul{
    list-style: none;
    position: fixed;
}
aside ul li{
    color: #FFF7FF;
    transition: transform 1s ease;
    margin-left: -55px;
	padding: 20px;
    font-size: 25px;
}

aside h1, aside ul li span {
    opacity: 0;
}

aside:hover h1, aside:hover ul li span {
	transition: opacity 2s;
	opacity: 1;
	}

aside ul li:hover, aside ul a:hover{
    color: #FADA23;
    text-decoration: none;
    transform: scale(1.05);
}

body img{
    width: 80vh;
    float: top;
    height: 50vh;
}

main {
    text-align: center
}