body{
    background: #ffffff;
}
aside{
    float: left;
    background: #2196f3;
    width: 45px;
    height: 100vh;
    padding: 2,5%;
    color: #FFF7FF;
    border-right: 5px solid #F2EBF2;
    transition: all .5s;
    z-index: 999999;
    position: fixed;


}

aside:hover{
    width:250px;
}

aside ul{
    list-style: none;
    position: fixed;
}
aside ul li{
    color: #FFF7FF;
    transition: transform 1s ease;
    margin-left: -55px;
	padding: 20px;
    font-size: 25px;
}

aside h1, aside ul li span {
    opacity: 0;
}

aside:hover h1, aside:hover ul li span {
	transition: opacity 2s;
	opacity: 1;
	}

aside ul li:hover, aside ul a:hover{
    color: #FADA23;
    text-decoration: none;
    transform: scale(1.05);
}

body img{
    max-width: 100vh;
    float: top;
    max-height: 100vh;
}

main {
    text-align: center;
    padding-left: 45px;
}


@media only screen and (max-width: 1024px) {
aside {
    float: none;
    width: 100%;
    height: 45px;
    border-right: none;
    border-bottom: 5px solid #F2EBF2;


}
aside h1, aside ul li span{
    display: none;
}

aside:hover{
    height: 45px;
    width: 100%;
}

aside ul li{
    display: inline;
    font-size: 20px;
    margin: auto;
    padding-left: 0px;

}

main{
    padding-top: 45px;
    padding-left: 0;
}

}