a.project{
    margin: 1%;
    width: 40%;
    display: inline-block;
    transition: transform .5s ease;
}

a.project:hover{
    color: #FADA23;
    text-decoration: none;
    transform: scale(1.05);

}

a div div img{
    width: 100%;
    height:100%;

}

a div div p{
   text-align: left;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}


@media only screen and (max-width: 1024px) {
    a.project{
        width: 100%;
}
}
