#text{
    padding: 15px;
    text-align: left;
}

#text, form, #comments{
    background:radial-gradient(ellipse closest-side,rgba(50,80,115, 0.0),
                                         rgba(50,80,115, 0.1),
                                         rgba(50,80,115, 0.1),
                                         rgba(50,80,115, 0.1),
                                         rgba(50,80,115, 0));

}
.card, .form-control{
    margin-left: auto;
    margin-right: auto;
    width:80%;
}

h2, h6{
    text-align: left;
}

.page-item{
    width:100%;
}

@media only screen and (min-width: 1024px) {
main{
    margin-left: auto;
    margin-right: auto;
    width:80%;
}

}
@media only screen and (max-width: 1024px) {
    .card, .form-control, #project_img{
        width:100%
}


#text, form, #comments{
    background:linear-gradient(to bottom,rgba(50,80,115, 0.0),
                                         rgba(50,80,115, 0.1),
                                         rgba(50,80,115, 0.2),
                                         rgba(50,80,115, 0.1),
                                         rgba(50,80,115, 0));

}
}